body {
  background-color: rgb(81, 81, 79);
  color: #212529;
}

.App .App-header {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
.App h1 {
  font-size: 60px;
  font-weight: 550;
  letter-spacing: 1px;
}

.App footer {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
}

.App footer a {
  color: black;
}
