.Dictionary {
  max-width: 1000px;
  margin: 0 auto;
}

.Dictionary form {
  font-size: 15px;
  text-align: center;
}

.Dictionary section {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(116, 116, 112);
}

.Dictionary .input-box {
  padding: 10px;
  border-radius: 5px;
  color: rgb(29, 30, 29);
  background-color: rgb(116, 116, 112);
}
.Dictionary .input-box::placeholder {
  color: rgb(29, 30, 29);
}

.Dictionary .form-button {
  padding: 10px;
  margin: 5px;
  background-color: rgb(165, 163, 163);
  color: #212529;
  font-weight: 400px;
  border: 1px solid rgb(165, 163, 163);
  border-radius: 5px;
}
.Dictionary .form-button:hover {
  background-color: #212529c9;
  color: rgb(165, 163, 163);
  border: 1px solid #212529c9;
}
