.Images {
  border: 1px solid rgb(60, 58, 58);
  padding: 1px;
}
.Images .img-gallery {
  padding: 2px;
  background-color: #212529c9;
}
.Images img {
  border-radius: 4px;
  padding: 1px;
  filter: brightness(0.7);
}
