.Meaning {
  border: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(91, 94, 94);
}
.Meaning h3,
.Meaning p {
  padding: 10px;
  color: #212529;
}

.Meaning h3 {
  font-size: 35px;
  color: #151616;
}

.Meaning p {
  font-size: 14px;
  margin-bottom: 5px;
}
